body{
    background-color: #0b2bdf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container form{
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 300px;
    border-radius: 25px;
}
.i{

    padding: 13px;
    color: #818183;
    font-weight: 600;

}
.button1{
    margin-top: 40px;
    margin-left: 40px;
    width: 50px;
    height: 50px;
    background-color: #d9dde9;
    color: rgb(66, 58, 58);
    border: 0;
    border-radius: 20px;
    padding: 10px;
}
.a{
    margin-top: 20px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background-color: #7988dd;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.b{
    margin-top: -50px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background-color:#eeab59;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.c{
    margin-top: -50px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background-color:#9e8ee8;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.d{
    margin-top: -50px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background-color:#eeab59;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.e{
    margin-top: -50px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background-color:#ec8bbc;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.f{
    margin-top: -50px;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    background-color:#66ceee;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.button2{
    margin-top: 90px;
    margin-left: 75px;
    width: 150px;
    height:45px;
    background-color:#768ff1;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius:8px;
    padding: 10px;
}
